version: "3.8"

services:
  mongodb:
    image: mongo:8.0
    container_name: auth-service-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: auth-db
    volumes:
      - mongodb_data:/data/db
    networks:
      - auth-network

volumes:
  mongodb_data:
    driver: local

networks:
  auth-network:
    driver: bridge
